@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}
body {
    height: 100vh;
    background: linear-gradient(
            rgba(16, 182, 215, 0.2),
            rgba(16, 182, 215, 0.2)
        ),
        url("../image/background.png") no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    height: 65vh;
    width: 45vw;
    padding: 50px 150px;
}
.login-container img {
    width: 241px;
}
.login-container form {
    margin-top: 50px;
}
.login-container input {
    width: 100%;
    border: 1px solid black;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 7px 20px;
    font-size: 18px;
}
.login-container input::placeholder {
    font-weight: 600;
}
.login-container button {
    background-color: #10b6d7;
    border-radius: 5px;
    width: 100%;
    font-weight: 700;
    color: white;
    margin-top: 20px;
}

.offcanvas-body,
.offcanvas-header {
    background-color: #10b6d7;
}
.logout .nav-link {
    font-weight: 600;
    margin-top: 10px;
    font-size: 17px;
}
.nav-search {
    position: relative;
}
.nav-search img {
    position: absolute;
    width: 15px;
    top: 28%;
    left: 4%;
}

.nav-search input {
    background-color: #d9d9d9;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    padding: 5px 5px 5px 40px;
    font-size: 15px;
    width: 100%;
}
.nav-image img {
    width: 150px;
    margin-bottom: 50px;
}
.navbar-nav {
    margin: 50px 40px;
}
.navbar-nav .active {
    background-color: white;
    color: black;
}
.navbar-nav .nav-link {
    padding: 18px;
    font-weight: 700;
    border-radius: 15px;
}

.navbar-nav .nav-link:hover {
    background-color: rgb(224, 224, 224);
    color: black;
}
.main {
    margin-top: 100px;
}
.content-div {
    padding-bottom: 50px;
}
.content {
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;
}
.content h2 {
    font-size: 25px;
    margin-top: 5px;
}
.content a {
    background-color: #10b6d7;
    border: 1px solid black;
    border-radius: 10px;
    width: 7%;
    text-align: center;
    padding-top: 8px;
    font-weight: 700;
    color: white;
    font-size: 16px;
}
.header {
    text-align: center;
    display: flex;
    justify-content: center;
}
.header h1 {
    font-size: 40px;
    width: 35vw;
    color: #10b6d7;
    background-color: white;
    border-radius: 10px;
    padding: 7px 15px;
    font-weight: 700;
    letter-spacing: 3px;
}
.edit-return {
    margin-bottom: 10px;
}
.edit-return svg {
    margin-top: -5px;
}
.edit-return a {
    margin: 0;
    text-decoration: none;
    color: black;
}
.back-button b {
    color: black;
    font-size: 20px;
}
.edit-return a:hover,
.edit-return a:hover b {
    color: rgb(71, 71, 71);
}
.edit-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    height: 70vh;
    padding: 30px 50px;
}
.edit-container h1 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 20px;
}
.edit-container input,
.edit-container textarea {
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
}
.edit-container textarea {
    min-height: 17vw;
}
.edit-container button {
    background-color: #10b6d7;
    border: 1px solid black;
    color: white;
    padding: 5px;
    font-weight: 600px;
    border-radius: 50px;
    margin-top: 30px;
}
