@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #959595;
}

nav {
    background-color: #00b4d8;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 100vw;
}
nav img {
    width: 50px;
    height: 50px;
}
/* Loader Full Screen */
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00b4d8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
    color: white;
}

#loader img {
    width: clamp(200px, 50%, 300px);
}

#loader .dots-loader {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

#loader p {
    font-weight: 500;
    font-size: 13px;
}

#loader h1 {
    width: 85vw;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
}

/* Individual Dots */
#loader .dots-loader span {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out both;
}

/* Delay each dot */
#loader .dots-loader span:nth-child(1) {
    animation-delay: 0s;
}

#loader .dots-loader span:nth-child(2) {
    animation-delay: 0.2s;
}

#loader .dots-loader span:nth-child(3) {
    animation-delay: 0.4s;
}
.floor-title {
    position: fixed;
    top: 130px;
    font-size: 12px;
    padding: 3px 20px 3px 20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.2);
}
.floor-title h1 {
    font-size: 13px;
    color: #00b4d8;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.floors {
    position: fixed;
    bottom: 150px;
}
.floors ul li {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    border: 1px solid rgb(48, 48, 48);
    padding-top: 1px;
    background-color: white;
    list-style: none;
}
.floors ul li a {
    background-color: white;
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.floors ul li.active,
.floors ul li.active a {
    color: white;
    background-color: #00b4d8;
}

.bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-color: #00b4d8;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: height 0.3s ease;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: grab;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.drag-handle {
    width: 70px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}
.search {
    padding: 0px 30px;
    margin-bottom: 20px;
    position: relative;
}

.search img {
    height: 17px;
    width: 17px;
    position: absolute;
    top: 28%;
    margin-left: 12px;
}
.search input {
    background-color: #e9e9e9;
    border-radius: 9px;
    border: 1px solid #e9e9e9;
    padding: 7px;
    padding-left: 40px;
    width: 100%;
    font-size: 15px;
    border: 0;
}
.search input::placeholder {
    font-weight: 500;
}
.search .error {
    border: 1px solid red;
}

.content {
    padding: 15px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 7px;
    overflow-y: auto;
    height: calc(100% - 50px);
}
.content .box {
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.content h1 {
    font-weight: 700;
    text-align: center;
    color: black;
    font-size: 20px;
}
.content p {
    font-size: 12px;
}

.content .bottom {
    display: flex;
    justify-content: space-between;
}
.content .bottom .flex {
    display: flex;
    margin-top: 8px;
}
.content .bottom .flex img {
    height: 17px;
    width: 17px;
}
.content .bottom h2 {
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    margin-left: 5px;
    margin-top: 2px;
}

.content .bottom button {
    border-radius: 50px;
    background-color: #00b4d8;
    color: white;
    font-size: 13px;
    width: 100px;
    padding: 4px 10px;
    font-weight: 600;
    border: 0;
}
#svg-container {
    width: 100vw;
    height: 100vh;
    touch-action: none;
    top: 50%;
    transform-origin: 0 0;
}
#svg-container svg:active {
    cursor: grabbing;
}
svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: grab;
    user-select: none;
    touch-action: none;
}
.room {
    transition: fill 0.3s ease, stroke 0.3s ease;
    cursor: pointer;
}
.room:hover {
    fill: #00b4d8;
}
.directions {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 20s linear infinite;
    animation-delay: 0s;
}

#room-popup {
    position: fixed;
    top: 40%;
    left: 50%;
    display: none;
    transform: translate(-50%, -40%);
    background: #00b4d8;
    padding: 20px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    padding: 15px;
    border-radius: 5px;
    width: clamp(300px, 50%, 800px);
}
.inner {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.inner .info {
    min-height: 15vh;
}
.inner .info h1 {
    font-weight: 600;
    font-size: 20px;
}
.inner .info p {
    font-size: 12px;
}
.inner .buttons {
    place-self: bottom;
}
.inner .close-btn {
    border: 1px solid #00b4d8;
    color: #00b4d8;
    background-color: white;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 7px;
}
.inner .action-btn {
    color: white;
    background-color: #00b4d8;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 7px;
    border: 0;
}
.inner .action-btn:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
}
.moving-circle {
    stroke: black;
    stroke-width: 0.3px;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes bounce {
    0%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }
}
